<div class="background">

    <section id="showcase" class="d-flex justify-start align-items-start my-5">
        <div id="header" class="text-black">
            <h1 class="display-1 text-black">SAMURAI TOURS</h1>
            <blockquote class="blockquote lead d-none d-md-block justify-content center">
                <p>“You must understand that there is more <br>  than one path to the top of the mountain”</p>
              </blockquote>
            <button id="book" class="btn btn-lg btn-primary px-5 btn-sm" data-toggle="modal" data-target="#bookingModal">BOOK NOW</button>
        </div>
    </section>

</div>

